<% include ./../../helpers/notify-validate %>
<% include ./../../helpers/notify %>

<div class="row sm-gutter">
    <div class="col l-12 m-12 c-12">
        <div class="auth__wrap">
            <!-- Login form -->
            <form action="/auth/login" method="post" id="form-login" class="auth-form">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <span class="auth-form__switch-btn">Đăng ký</span>
                    </div>
                    <div class="auth-form__form">
                        <!-- Errors from Validate form -->
                        <%- showErrors(errors) %>
                        <!-- Messages from Login/Register -->
                        <%- showMessagesAuth(messages) %>
                        <div class="auth-form__group">
                            <input name="username" type="text" class="auth-form__input" placeholder="Tài khoản của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input name="password" type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                        </div>
                    </div>

                    <div class="auth-form__aside">
                        <p class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                            <span class="auth-form__help-separate"></span>
                            <a href="/contacts" class="auth-form__help-link">Cần trợ giúp</a>
                        </p>
                    </div>

                    <div class="auth-form__controls">
                        <div class="btn btn--normal auth-form__control-back">TRỞ LẠI</div>
                        <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </div>

                <div class="auth-form__socials">
                    <a class="auth-form__social-fb btn btn--size-s btn--with-icon">
                        <i class="auth-form__social-icon fab fa-facebook-square"></i>
                        <span class="auth-form__social-title">Kết nối với Facebook</span>
                    </a>
                    <a class="auth-form__social-gg btn btn--size-s btn--with-icon">
                        <i class="auth-form__social-icon fab fa-google"></i>
                        <span class="auth-form__social-title">Kết nối với Google</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>