<div class="row sm-gutter">
    <div class="col l-12 m-12 c-12">
        <div class="no-permission">
            <h1>NO PERMISSION</h1>
            <h3>Bạn không thể đăng nhập vào trang này!!!</h3>
            <i class="fas fa-ban"></i>
            <button class="btn btn--normal"><a class="text-no-link" href="/">Quay về trang chủ</a></button>
        </div>
    </div>
</div>
