<% include ./../../helpers/notify-validate %>
<% include ./../../helpers/notify %>

<div class="row sm-gutter">
    <div class="col l-12 m-12 c-12">
        <div class="user__wrap">
            <form action="/users/change-password" method="post" class="auth-form auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đổi mật khẩu</h3>
                </div>
                <%- showErrors(errors) %>
                <%- showNotify(messages) %>
                <div class="auth-form__form">
                    <div class="row sm-gutter auth-form__group">
                        <label class="auth-form__label col l-4 m-12 c-12">Mật khẩu hiện tại</label>
                        <input class="auth-form__input col l-8 m-12 c-12" value="" name="password_old" type="password">
                    </div>
                    <div class="row sm-gutter auth-form__group">
                        <label class="auth-form__label col l-4 m-12 c-12">Mật khẩu mới</label>
                        <input class="auth-form__input col l-8 m-12 c-12" value="" name="password" type="password">
                    </div>
                    <div class="row sm-gutter auth-form__group">
                        <label class="auth-form__label col l-4 m-12 c-12">Nhập lại mật khẩu</label>
                        <input class="auth-form__input col l-8 m-12 c-12" value="" name="password_confirm" type="password">
                    </div>
                    
                    <input value="<%= item.id %>" name="id" type="hidden">
                    <input value="<%= item.username %>" name="username" type="hidden">
                </div>

                <div class="auth-form__controls">
                    <button type="submit" class="btn btn--primary">ĐỔI MẬT KHẨU</button>
                    <div class="btn btn--normal auth-form__control-back">TRỞ LẠI</div>
                </div>
            </form>
        </div>
    </div>
</div>
