<% include ./../../helpers/show-product %>
<% include ./../../helpers/format %>


<div class="row sm-gutter app__content">
    <div class="col l-2 m-0 c-0">
        <div class="category">
            <h3 class="category__heading">
                <i class="category__heading-icon fas fa-list"></i>    
                Bộ lọc tìm kiếm
            </h3>
            <form action="" class="filter">
                <div class="filter__category">
                    <p class="filter__item-title">Theo danh mục</p>
                    <ul class="category-list">
                        <li class="filter__item">
                            <input class="filter__item-checkbox cursor-pointer" id="filter__category-checkbox1" type="checkbox" name="">
                            <label class="cursor-pointer" for="filter__category-checkbox1">Trang điểm</label>
                        </li>
                        <li class="filter__item">
                            <input class="filter__item-checkbox cursor-pointer" id="filter__category-checkbox2" type="checkbox" name="">
                            <label class="cursor-pointer" for="filter__category-checkbox2">Trang điểm</label>
                        </li>
                        <li class="filter__item">
                            <input class="filter__item-checkbox cursor-pointer" id="filter__category-checkbox3" type="checkbox" name="">
                            <label class="cursor-pointer" for="filter__category-checkbox3">Trang điểm</label>
                        </li>
                    </ul>
                </div>
                <div class="filter__price">
                    <p class="filter__item-title">Theo giá</p>
                    <div class="filter__price-wrap">
                        <input class="filter__price-from filter__item" placeholder="₫ TỪ"/>
                        <div class="filter__price-dash filter__item"> - </div>
                        <input class="filter__price-to filter__item" placeholder="₫ ĐẾN"/>
                    </div>
                </div>
                
                <div class="filter__price-wrap">
                    <div class="filter__submit btn btn--primary">ÁP DỤNG</div>
                </div>
            </form>
        </div>
    </div>

    <div class="col l-10 m-12 c-12">
        <div class="home-filter hide-on-mobile-tablet">
            <span class="home-filter__label">Sắp xếp theo</span>
            <button class="home-filter__btn btn">Phổ biến</button>
            <button class="home-filter__btn btn btn--primary">Mới nhất</button>
            <button class="home-filter__btn btn">Bán chạy</button>

            <div class="select-input">
                <span class="select-input__label">Giá</span>
                <i class="select-input__icon fas fa-angle-down"></i>
                <!-- List options -->
                <ul class="select-input__list">
                    <li class="select-input__item">
                        <a href="" class="select-input__link">Giá thấp đến cao</a>
                    </li>
                    <li class="select-input__item">
                        <a href="" class="select-input__link">Giá cao đến thấp</a>
                    </li>
                </ul>
            </div>

            <div class="home-filter__page">
                <span class="home-filter__page-num">
                    <span class="home-filter__page-curent">1</span>/14
                </span>

                <div class="home-filter__page-control">
                    <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                        <i class="home-filter__page-icon fas fa-angle-left"></i>
                    </a>
                    <a href="" class="home-filter__page-btn">
                        <i class="home-filter__page-icon fas fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <% include ./../../elements/category-mobile %>

        <%- showProductHelper('Sản phẩm bán chạy', products, 5) %>

    </div>
</div>