<%
	highlightHelper = (content, search_value) => {
		if (!search_value) return `<p>${content}</p>`;
		return content.replace(new RegExp(search_value, 'ig'), match => {
			return `<span class="text-dark  bg-warning">${match}</span>`;
		})
	}
%>

