<%
	showErrors = (errors) => {
		if (errors.length <= 0) return '';
		let xhtml = ``;
		errors.forEach(error => {
			let name = error.param;
			name = name.replace(new RegExp('id|_','gi'), (text) => {
				if (text === '_') return ' ';
				return '';
			});
			name = name.charAt(0).toUpperCase() + name.slice(1);

			xhtml += `<li class="text-white"><b>${name}:</b> ${error.msg}</li>`
		})
		return `<div class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h5><i class="icon fas fa-exclamation-triangle"></i> Lỗi!</h5>
					<ul class="list-unstyled mb-0">${xhtml}</ul>
				</div>`;
	}
%>
