<% 
    textareaHelper = (name, content, type) => {
        
        return `<div id="toolbar-container"></div>
                <div id="editor5">${content}</div>
                <input id="text-editor5" name="${name}" type="hidden">`
    }
%>