<!DOCTYPE html>
<html>

<head>
    <% include ./../elements/head %>
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <% include ./../elements/navbar %>
        
        <% include ./../elements/sidebar %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"><%= pageTitle %></h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <%- body %>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <% include ./../elements/footer %>
    </div>
    <!-- ./wrapper -->

    <!-- script -->
    <% include ./../elements/script %>
</body>

</html>