
<%
const folderUploadArticles = `/${folderUploads}/articles/`;
%>
<% include ./../../helpers/format %>
<% include ./../../elements/top-posts %>
<% include ./../../elements/slide-posts-1 %>
<% include ./../../elements/posts-in-category %>

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <%- postsInCategoryElement(newArticles) %>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <% include ./../../elements/sidebar %>
            </div>
        </div>

    </div>
</div>

<%
    let slideXhtml = '';
    let currentCategory = filteredArticles[0].group.name;
    let categoryItems = [];
    categoryItems.push(filteredArticles[0]);
    
    for(let i = 1; i < filteredArticles.length; i++) {
        const article = filteredArticles[i];
        if (currentCategory !== article.group.name) {
            slideXhtml += slidepostsElement(currentCategory, categoryItems);
            categoryItems = [];
        }
        currentCategory = article.group.name;
        categoryItems.push(article);
    }
    slideXhtml += slidepostsElement(currentCategory, categoryItems);
%>
<%- slideXhtml %>