<% include ./../../helpers/show-product %>
<% include ./../../helpers/show-category %>
<% include ./../../helpers/format %>

<% include ./../../elements/slider %>

<%- showCategoryHelper(categories) %>


<div class="row sm-gutter">
    <div class="col l-12 m-12 c-12">
        
        <% include ./../../elements/category-mobile %>

        <%- showProductHelper('Sản phẩm bán chạy', products) %>
        

        <!-- <% include ./../../elements/pagination %> -->

    </div>
</div>