<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../elements/head %>
</head>
<body>
    <div class="app">
        
        <% include ./../elements/header %>

        <div class="app_container">
            <div class="grid wide">

                <%- body %>
                
            </div>
        </div>

        <% include ./../elements/footer %>
        <% include ./../elements/modal %>
    </div>

    <% include ./../elements/script %>
</body>
</html>