<div class="row no-gutters app__content product__cart-title">
    <div class="col l-12 m-12 c-12">
        <h3><i class="far fa-credit-card product__cart-icon"></i> Thanh toán</h3>
    </div>
</div>
<div class="row no-gutters product__cart-heading">
    <div class="col l-0 m-0 c-0">
        <div class="cart__product-checkbox d-flex align-items-center">
            <input type="checkbox" >
        </div>
    </div>
    <div class="col l-4 m-6 c-0">
        <div class="cart__product-info">Sản phẩm</div>
    </div>
    <div class="col l-2 m-0 c-0">
        <div class="cart__product-property">Phân loại</div>
    </div>
    <div class="col l-6 m-6 c-0">
        <div class="row no-gutters ">
            <div class="col l-4 m-4 c-12">Đơn giá</div>
            <div class="col l-4 m-4 c-12">Số lượng</div>
            <div class="col l-4 m-4 c-12">Thành tiền</div>
        </div>
    </div>
</div>
<div class="product__cart-wrap">
    <div class="row no-gutters product__cart-item">
        <div class="col l-0 m-0 c-0">
            <div class="cart__product-checkbox d-flex align-items-center">
                <input type="checkbox" >
            </div>
        </div>
        <div class="col l-4 m-4 c-9">
            <div class="cart__product-info">
                <div class="cart__product-img" style="background-image: url('https://cf.shopee.vn/file/c0a1c896390b1d5ce35ebbdd0d8a912b_tn');"></div>
                <p class="cart__product-name">Laptop laptop laptop SA123</p>
            </div>
        </div>
        <div class="col l-2 m-2 c-2">
            <div class="cart__product-property d-flex align-items-center h-100">
                Xanh lá
            </div>
        </div>
        <div class="col l-6 m-6 c-12">
            <div class="row no-gutters h-100">
                <div class="col l-4 m-4 c-4">
                    <div class="cart__product-prices d-flex align-items-center h-100">
                        <div class="cart__product-price-new">12.990.000₫</div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-2">
                    <div class="cart__product-quantity-wrap d-flex align-items-center h-100">
                        <div class="product__quantity-btn-wrap">
                            <span style="margin-right: 2px;" class="d-flex align-items-center">x</span>
                            <span class="d-flex align-items-center">1</span>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-6">
                    <p class="cart__product-price-total d-flex h-100">12.990.000₫</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters product__cart-item">
        <div class="col l-0 m-0 c-0">
            <div class="cart__product-checkbox d-flex align-items-center">
                <input type="checkbox" >
            </div>
        </div>
        <div class="col l-4 m-4 c-9">
            <div class="cart__product-info">
                <div class="cart__product-img" style="background-image: url('https://cf.shopee.vn/file/c0a1c896390b1d5ce35ebbdd0d8a912b_tn');"></div>
                <p class="cart__product-name">Laptop laptop laptop SA123</p>
            </div>
        </div>
        <div class="col l-2 m-2 c-2">
            <div class="cart__product-property d-flex align-items-center h-100">
                Xanh lá
            </div>
        </div>
        <div class="col l-6 m-6 c-12">
            <div class="row no-gutters h-100">
                <div class="col l-4 m-4 c-4">
                    <div class="cart__product-prices d-flex align-items-center h-100">
                        <div class="cart__product-price-new">12.990.000₫</div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-2">
                    <div class="cart__product-quantity-wrap d-flex align-items-center h-100">
                        <div class="product__quantity-btn-wrap">
                            <span style="margin-right: 2px;" class="d-flex align-items-center">x</span>
                            <span class="d-flex align-items-center">1</span>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-6">
                    <p class="cart__product-price-total d-flex h-100">12.990.000₫</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters product__cart-item">
        <div class="col l-0 m-0 c-0">
            <div class="cart__product-checkbox d-flex align-items-center">
                <input type="checkbox" >
            </div>
        </div>
        <div class="col l-4 m-4 c-9">
            <div class="cart__product-info">
                <div class="cart__product-img" style="background-image: url('https://cf.shopee.vn/file/c0a1c896390b1d5ce35ebbdd0d8a912b_tn');"></div>
                <p class="cart__product-name">Laptop laptop laptop SA123</p>
            </div>
        </div>
        <div class="col l-2 m-2 c-2">
            <div class="cart__product-property d-flex align-items-center h-100">
                Xanh lá
            </div>
        </div>
        <div class="col l-6 m-6 c-12">
            <div class="row no-gutters h-100">
                <div class="col l-4 m-4 c-4">
                    <div class="cart__product-prices d-flex align-items-center h-100">
                        <div class="cart__product-price-new">12.990.000₫</div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-2">
                    <div class="cart__product-quantity-wrap d-flex align-items-center h-100">
                        <div class="product__quantity-btn-wrap">
                            <span style="margin-right: 2px;" class="d-flex align-items-center">x</span>
                            <span class="d-flex align-items-center">1</span>
                        </div>
                    </div>
                </div>
                <div class="col l-4 m-4 c-6">
                    <p class="cart__product-price-total d-flex h-100">12.990.000₫</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-total-products">
            <div class="cart__product-total-wrap">
                <span class="cart__product-total-product">Tổng số tiền (0 Sản phẩm): </span>
                <span class="cart__product-total-price">0₫</span>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-transport">
            <div class="cart__product-transport-title">
                <i class="fas fa-map-marker-alt"></i>
                Địa chỉ nhận hàng
            </div>
            <div class="cart__product-transport-destination">
                <span class="transport__name">Hoàng Ngọc Quý</span>
                <span class="transport__phone">(+84) 932497860</span>
                <span class="transport__address">107 Ngô Tất Tố, Phường 22, Quận Bình Thạnh, TP. Hồ Chí Minh</span>
                <span class="transport__destination-change">Thay đổi</span>
            </div>
            <div class="cart__product-transport-method">
                <div class="transport__shipping-title">Đơn vị vận chuyển</div>
                <div class="transport__shipping-unit">Nhanh</div>
                <div class="transport__shipping-change">Thay đổi</div>
                <div class="transport__price">0₫</div>
            </div>
            <div class="transport__date">Nhận hàng vào 11 Th01 - 16 Th01</div>

            <div class="cart__product-voucher-method">
                <div class="product__voucher-title">Mã giảm giá</div>
                <input class="product__voucher-unit" placeholder="C1587QEW">
                <div class="product__voucher-change">Thay đổi</div>
                <div class="product__voucher-price">-100.000₫</div>
            </div>
            <div class="product__voucher-info">Mỗi lần chỉ sử dụng tối đa 1 mã giảm giá.</div>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-checkout">
            <div class="cart__product-checkout-method">
                <div class="cart__product-checkout-method-title">Phương thức thanh toán</div>
                <p>Thanh toán khi nhận hàng</p>
                <div class="cart__product-checkout-method-change">Thay đổi</div>
            </div>
            <table class="cart__product-checkout-info">
                <tr>
                    <th></th>
                    <th class="text-right"></th>
                </tr>
                <tr>
                    <td>Tổng tiền hàng</td>
                    <td class="text-right">1.000.000₫</td>
                </tr>
                <tr>
                    <td>Phí vận chuyển</td>
                    <td class="text-right">100.000₫</td>
                </tr>
                <tr>
                    <td>Miễn phí vận chuyển</td>
                    <td class="text-right">-100.000₫</td>
                </tr>
                <tr>
                    <td>Voucher, khuyết mãi</td>
                    <td class="text-right">-100.000₫</td>
                </tr>
                <tr>
                    <td>Tổng thanh toán</td>
                    <td class="text-right cart__product-checkout-price-total">900.000₫</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col l-12 m-12 c-12">
        <div class="cart__product-order">
            <div class="cart__product-order-policy">
                Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <span class="link__shopee">Điều khoản Shopee</span> và 
                <span class="link__shopee">Điều khoản và Điều kiện</span> của hợp đồng Bảo hiểm
            </div>
            <div class="cart__product-order-btn btn btn--primary">
                Đặt hàng
            </div>
        </div>
    </div>
</div>