<div class="contact__wrap mt-20">
    <div class="contact__title">Đội chăm sóc khách hàng Shopee</div>
    <div class="contact__subtitle">
        <span>Chúng tôi muốn lắng nghe câu hỏi và ý kiến đóng góp từ bạn. Hãy phản hồi cho Shopee biết vấn đề của bạn nhé!</span>
        <br/>
        <span>Chúng tôi sẽ liên hệ lại bạn trong 24h tiếp theo.</span>
    </div>

    <div class="contact__group">
        <form method="post" action="/contacts" class="contact__form">
            <h3>Thông tin liên hệ</h3>
            <div class="form__group">
                <label class="form__group-title" for="contact-email">Địa chỉ Email của bạn</label>
                <input type="text" name="email" id="contact-email" placeholder="abc@gmail.com" required>
            </div>
            <div class="form__group">
                <label class="form__group-title" for="contact-content">Nội dung phản hồi</label>
                <textarea name="content" id="contact-content" cols="30" rows="10" required></textarea>
            </div>
            <!-- <div class="form__group">
                <label class="form__group-title" for="contact-file">Đính kèm tệp</label>
                <input type="file" name="" id="contact-file">
            </div> -->

            <button class="form__group-submit btn btn--primary" type="submit">Gửi phản hồi</button>
        </form>
        <div class="contact__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7838.469246703355!2d106.71791332225892!3d10.793333958303261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slandmark%2081!5e0!3m2!1svi!2s!4v1641544434288!5m2!1svi!2s" width="550" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>