<div class="row sm-gutter  pc-category">
    <div class="col l-12 m-0 c-0">
        <h3 class="pc-category__heading">
            Danh mục
        </h3>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam Thời trang nam Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
    <div class="col l-2 m-0 c-0">
        <a href="#" class="pc-category__item">
            <div class="pc-category__item-img" style="background-image:url(https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn);"></div>
            <div class="pc-category__item-name">Thời trang nam</div>
        </a>
    </div>
</div>