<nav class="mobile-category">
    <ul class="mobile-category__list">
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
        <li class="mobile-category__item">
            <a href="" class="mobile-category__link">Dụng cụ thiết bị và tiện ích</a>
        </li>
    </ul>
</nav>