<nav class="mobile-category">
    <ul class="mobile-category__list">
        <% categories.forEach(category => {%>
            <li class="mobile-category__item">
                <a href="/category/<%= category.slug %>" class="mobile-category__link"><%= category.name %></a>
            </li>
            <%}) %>
    </ul>
</nav>