<footer class="footer">
	<div class="grid wide footer__content">
		<div class="row">
			<div class="col l-2-4 m-3 c-6">
				<h3 class="footer__heading">Chăm sóc khách hàng</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="/contacts" class="footer-item__link">Trung tâm trợ giúp</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">Shopee Mall</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
					</li>
				</ul>
			</div>
			<div class="col l-2-4 m-3 c-6">
				<h3 class="footer__heading">Giới thiệu</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="" class="footer-item__link">Giới thiệu</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">Tuyển dụng</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">Điều khoản</a>
					</li>
				</ul>
			</div>
			<div class="col l-2-4 m-3 c-6">
				<h3 class="footer__heading">Danh mục</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="" class="footer-item__link">Trang điểm 1</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">Trang điểm 2</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">Trang điểm 3</a>
					</li>
				</ul>
			</div>
			<div class="col l-2-4 m-3 c-6">
				<h3 class="footer__heading">Theo dõi</h3>
				<ul class="footer-list">
					<li class="footer-item">
						<a href="" class="footer-item__link">
							<i class="footer-item__icon fab fa-facebook"></i>
							Facebook
						</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">
							<i class="footer-item__icon fab fa-instagram"></i>
							Instagram
						</a>
					</li>
					<li class="footer-item">
						<a href="" class="footer-item__link">
							<i class="footer-item__icon fab fa-linkedin"></i>
							Linkedin
						</a>
					</li>
				</ul>
			</div>
			<div class="col l-2-4 m-6 c-12">
				<h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
				<div class="footer__download">
					<img src="/frontend/img/qrcode.png" alt="Download QR" class="footer__download-qr">
					<div class="footer__download-apps">
						<a href="" class="footer__download-app-link">
							<img src="/frontend/img/google_play.png" alt="google play" class="footer__download-app-img">
						</a>
						<a href="" class="footer__download-app-link">
							<img src="/frontend/img/app_store.png" alt="app store" class="footer__download-app-img">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="grid wide">
			<p class="footer__text">© 2021 - Bản quyền thuộc về Shopee</p>
		</div>
	</div>
</footer>