<%
postsInCategoryElement = (articles) => {
    let xhtml = ``;
    if (articles.length === 0) {
        xhtml += `<div class="row pb-4">
                    <h2>Không có bài viết trong danh mục</h2>
                </div>`;
    } else 
    articles.forEach(article => {
        xhtml+= `<div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div style="height:auto;" class="fh5co_news_img"><img style="width: 260px; height:fit-content" src="${folderUploadArticles + article.thumb}" alt="${article.name}"/></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="/articles/${article.id}/${article.slug}" class="d-block fh5co_magna py-2"> ${article.name} </a> 
                        <a href="single.html" class="fh5co_mini_time py-3"> <i class="fa fa-clock-o"></i> ${formatDateHelper(article.created.time)} </a>
                        <div class="fh5co_consectetur"> ${formatSummaryHelper(article.content)}...</div>
                    </div>
                </div>`;
    });
    return `<div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">${'Tin tức'}</div>
            </div>
            ${xhtml}
            `;
}
%>
