<div class="row sm-gutter app__content">
    <div class="col l-12 m-12 c-0">
        <div class="slider" id="slider">
            <div class="slider__box">
                <div class="slider__item">
                    <img class="slider__img" src="https://cf.shopee.vn/file/c59b11d7039b488d5f3288ee07ed375d" alt="">
                </div>
                <div class="slider__item">
                    <img class="slider__img" src="https://cf.shopee.vn/file/8c84189d4dbf26a3bd909a61075052b1" alt="">
                </div>
                <div class="slider__item">
                    <img class="slider__img" src="https://cf.shopee.vn/file/8c84189d4dbf26a3bd909a61075052b1" alt="">
                </div>
                <div class="slider__item">
                    <img class="slider__img" src="https://cf.shopee.vn/file/8c84189d4dbf26a3bd909a61075052b1" alt="">
                </div>
            </div>
            <span class="slider__btn-arrow slider__btn-left"><i class="fas fa-chevron-left"></i></span>
            <span class="slider__btn-arrow slider__btn-right"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
</div>