<%	showMessagesAuth = (messages) => {
	let xhtml = '';
    Object.keys(messages).forEach(type => {
        xhtml += `<div class="auth-form__group">
					<div class="auth-form__error">
						<h2 style="color:#ee4d2d;"><i class="icon fas fa-exclamation-triangle"></i> Lỗi!</h2>
						<div>${messages[type]}</div>
						${xhtml}
					</div>
				</div>`;
    });
	return xhtml;
}%>

<%
	showNotify = (messages) => {
		let xhtml = ``;
		messages.forEach(message => {
			const [type, msg] = message.split('|');
			xhtml += `<div class="auth-form__group">
						<div class="auth-form__error">
							<h2 style="color:#0bf71f;"><i class="icon fas fa-exclamation-triangle"></i> Thông báo!</h2>
							<div>${msg}</div>
						</div>
					</div>`;
		});

		return xhtml;
	}
%>
