<%	showMessagesAuth = (messages) => {
	let xhtml = '';
    Object.keys(messages).forEach(type => {
        xhtml += `<div class="auth-form__group">
					<div class="auth-form__error">
						<h2 style="color:#ee4d2d;"><i class="icon fas fa-exclamation-triangle"></i> Lỗi!</h2>
						<div>${messages[type]}</div>
						${xhtml}
					</div>
				</div>`;
    });
	return xhtml;
}%>
