<!-- Jquery -->

<%
    const folderUploadArticles = `/${folderUploads}/articles/`;
%>
<% include ./../../helpers/format %>
<% include ./../../elements/slide-posts-1 %>
<% include ./../../elements/posts-in-category-rss %>

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"><%= currentRSS.name %></div>
                </div>
                <%- postsInCategoryRssElement(rssArticles) %>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <% include ./../../elements/sidebar %>
            </div>
        </div>

    </div>
</div>

<%- slidepostsElement('Bài viết nổi bật', specialArticles) %>

<script src="/backend/js/jquery/jquery.min.js"></script>
<script src="/backend/js/jquery-ui/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/frontend/js/ajax.js"></script>